*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  --dark: #23424a;
  --light: #38cfd9;
  --middle: #136c72;
  --accent: #87629a;
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
  font-size: 1rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

p {
  margin-bottom: 2em;
}

.wrap {
  margin: 0 10vw;
  padding: 2em 0;
  width: 80%;
  border: 1px solid yellow;
  display: flex;
  justify-content: space-between;
}

/* ========= NAVIGATION ========= */
nav {
  width: 100%;
  padding: 1em 10%;
  background-color: var(--middle);
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid pink;
}

nav li {
  padding: 0 1em;
}

.nav-butt {
  background-color: white;
  color: var(--middle);
  border-radius: 2em;
  padding: 0.4em 1em;
}

/* ========= HEADER ========= */
header {
  margin: 0;
  background-color: var(--dark);
  color: white;
}

.herotext {
  width: 60%;
  max-width: 500px;
}

.hero-img {
  width: 32%;
  align-self: flex-start;
  border: solid 2px pink;
  text-align: right;
}

.img {
  width: 100%;
}

.herotext p {
  margin-bottom: 4em;
}

.abutton {
  padding: 1em 2em;
  background-color: var(--light);
  color: var(--dark);
  font-weight: bold;
  border-radius: 2em;
}

a, a:hover, a:focus {
  text-decoration: none;
}

a:hover, a:focus {
  opacity: 70%;
}

/*
////// For this challenge ///////

- All text is in the JS section
  this pen
- Use this code for the image
  (not the same image!)
  <img src="https://unsplash.it/386/292" alt="">

// Requirements
1. Refer to the design specs for the
   overall layout
2. The image should line up with
   the sidebar in the section
   below

*/
/* ========= MAIN ============== */
.main {
  margin-right: 5%;
  width: 60%
}

.main h2 {
  color: var(--middle);
}

.wrap-column {
  width: 32%;
  background-color: var(--middle);
  color: white;
  padding: 2em;
  text-align: center;
}
