
*, *::before, *::after {
  box-sizing: border-box;
  }

body {
  margin: 0;
  --dark: #23424a;
  --light: #38cfd9;
  --middle: #136c72;
  --accent: #87629a;
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
  font-size: 1rem;
}

.hero {
  margin: 0;
  padding: 2em 0;
  background-color: var(--dark);
  color: white;
  }

.wrap {
  margin: 2em 10vw;
  width: 80%;
  border: 1px solid yellow;
  display: flex;
  }

.herotext {
  margin: 2em 0;
  width: 70%;
  max-width: 500px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

p {
  margin-bottom: 3em;
}

.abutton {
  padding: 1em 2em;
  background-color: var(--light);
  color: var(--dark);
  border: none;
  font-weight: bold;
  border-radius: 2em;
}

a, a:hover, a:focus {
  text-decoration: none;
}

a:hover, a:focus {
  opacity: 70%;
}

.package h2, .package p {
  text-align: center;
}
.package {
  min-width: 200px;
  }

.package + .package {
  margin-left: 5em;
}

.functions {
  background-color: var(--middle);
  padding: 4rem 0;
  color: white;
}

.row h2 {
  color: var(--accent);
}
